  {% extends 'base.html' %}
  {% load static %}
  {% block title %}Product List{% endblock %}

  {% block content %}
      <h2>Product List</h2>
      <a href="{% url 'product_add' %}">Add New Product</a>
      <div class="row" style="padding-top: 20px;">
          {% for product in products %}
      <div class="col-md-3">
        <div class="card" style="width: 18rem; padding-top: 5px; margin-top: 5px;">
          {% if product.image %}
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-width: 100%; height: auto;">

          {% endif %}
          <div class="card-body">
              <a href="{% url 'product_detail' product.pk %}">
          
            <h5 class="card-title">{{ product.name }}  </h5> 
              </a>
              <p class="card-text">{{product.description}}</p>

              <a href="{% url 'product_edit' product.pk %}">Edit</a> -
               <a href="{% url 'product_delete' product.pk %}">Delete</a>
        
          
              
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
      <ul class="pagination">
      

      {% if products.has_other_pages %}
      <ul class="pagination">
          {% if products.has_previous %}
              <li><a href="?page=1">First</a></li>
              <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for i in products.paginator.page_range %}
              <li {% if products.number == i %}class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
          {% endfor %}
          {% if products.has_next %}
              <li><a href="?page={{ products.next_page_number }}">Next</a></li>
              <li><a href="?page={{ products.paginator.num_pages }}">Last</a></li>
          {% endif %}
      </ul>
      {% endif %}
    </ul>
  </div>
  {% endblock %}
